/* body{
  margin: 0px;
  height: 3000px;
}
.header{
  width: 99.95%;
  height: 100px;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(204, 82, 0);
  transition: height 0.3s;
  transition: 0.3s;
}
.header-item-list{
  padding: 0px;
  margin-right: 15%;
  width: 50%;
  float: right;
  margin-top: -90px;
  transition: 0.3s;
}
.header-item{
  width: 30%;
  text-align: right;
  float: right;
  font-family: sans-serif;
  display: inline-block;
}
.header-title{
  width: 29.5%;
  margin-top: 10px;
  font-size: 65px;
  text-align: right;
  font-family: sans-serif;
  padding: 1px;
}
article{
  position: absolute;
  margin-top: 100px;
  z-index: -1;
  display: none;
}
.header:hover + article{
  display: block;
}
.header.shrink{
  height: 50px;
  background-color: transparent;
}
.header-item-list.shrink{
  margin-top: -115px;
}
.header-title.shrink{
  font-size: 20px;  
  
} */
body{
  margin: 0px;
  height: 4000px;
  background: rgb(216, 77, 77)
}
.header{
  width: 99.95%;
  height: 100px;
  position: fixed;
  background: transparent;
  transition: 0.3;
  transition: height 0.3s;
  z-index: 1;
  
}
.header.shrink{
  height: 50px;
  background: transparent;
}


.header-subsection{
  width: 80%;
  height: 100px;
  margin: auto auto;
  transition: 0.3s;
}
.header-subsection.shrink{
  height: 50px;
}


.header-title{
  position: absolute;
  font-size: 60px;
  top: -22px;
  transition: 0.3s;
}
.header-title.shrink{
  font-size: 30px;
  top: -11px;
}


.header-item-list{
position: absolute;
right: 12%;
top: 13px;
font-size: 25px;
transition: 0.3s;
}
.header-item-list.shrink{
  top: -1px;
  font-size: 17px;
}


.header-item{
  display: inline;
}
.header-first-item{
  margin: 0 200 0 0%;
}









