body{
  margin: 0px;
  height: 4000px;
}
.header{
  width: 99.95%;
  height: 75px;
  position: fixed;
  transition: 0.5;
  transition: height 0.5s;
  background-color: rgba(0,0,0,.15);
  display: flex;
  align-items: center;
}
.header.shrink{
  height: 37.5px;
  background-color: rgba(0,0,0,.25)
}


.header-subsection{
  width: 80%;
  height: 75px;
  margin: auto auto;
  transition: 0.5s;
}
.header-subsection.shrink{
  height: 50px;
}




.header-title{
  position: absolute;
  font-size: 50px;
  transition: 0.5s;
  display: flex;
  align-items: center;
  margin: 0;
  height: 100%;
}
.header-title.shrink{
  font-size: 30px;
}


.header-item-list{
position: absolute;
right: 12%;
font-size: 20px;
transition: 0.5s;
display: flex;  
list-style-type: none;
margin: 0;
height: 100%;
align-items: center;
}
.header-item-list.shrink{
  font-size: 17px;
}


 .header-item:nth-child(n+0){       /*before the last one */
  margin: 0 100 0 0%;
}
.header-item:last-child{
  margin: 0 0 0 0%;
}
.main-article{
  background-image: url("imgs/kayak-bkgd.jpg");
  background-repeat: no-repeat;
  height: 829px;
  width: 100%;
  background-size: cover;
  background-color: red;
}










