@font-face {
  font-family: 'pacifico';
  src: url('../fonts/Pacifico.ttf');
}

@font-face {
  font-family: 'karla';
  src: url('../fonts/Karla-Regular.ttf');
}

body{
  margin: 0;
  background-color: rgb(182, 167, 167);
}

a{
  text-decoration: none;
  color: black;
  transition: 0.4s
}

a:hover{
  color: rgb(91, 91, 91);
}

ul{
  list-style: none;
}

p{
  font-family: 'karla';
  color: rgb(100, 100, 100);
  font-size: 16px;
}

h1{
  font-family: 'pacifico';
  margin-top: 60px;
  margin-bottom: 60px;
}

li{
  font-family: 'pacifico';
}

.text{
  line-height: 34px;
}

.main-all{
  max-width: 1600px;
  width: 100%;
  margin: auto auto;
  background-color: white;
}

.header{
  width: 99.95%;
  max-width: 1600px;
  height: 75px;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 3;
}

.header ul{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.header-item-first{
  width: 60%;
  font-size: 30px;
  display: relative;
}

.header-item{ 
  width: 5%;
  position: relative;
  left: 15%;
  font-size: 20px;
  top: 10px;
  margin-right: 25px;
}

.main{
  width: 100%;
  height: 100%;
  border: 1px solid black;

  background:     
    linear-gradient(
    rgba(0, 0, 0, 0.6), 
    rgba(0, 0, 0, 0.6)
  ),
  url("../imgs/kayak-bkgd.jpg");
  background-size: cover;
}  

.main-text{
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.main-text h1{
  margin: 15;
  font-size: 45;
  color: white;
}

.main-text p{
  margin: 15 0 30 0px;
  color: white;
}

.main-text button{
  padding: 15 30 15 30px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.522);
  color: white;
}

.main-bkgd{
  width: 100%;
  height: auto;
}

.about{
  width: 90%;
  display: flex;
  align-items: center;
  margin: auto auto;
}

.about-title{
  text-align: center;
  font-size: 60px;
}

.about-img{
 width: 50%; 
 height: auto;
 flex-grow: 1;
 box-shadow: 0px 0px 20px grey;
}

.about-p{
  flex-grow: 1;
  font-size: 25px;
  margin-left: 10px;
}

.rentals{
  width: 90%;
  display: flex;
  align-items: center;
  margin: auto auto;
}

.rental-title{
  text-align: center;
  font-size: 60px;
}

.rental-img{
  width: 50%;
  height: auto;
  flex-grow: 1;
  box-shadow: 0px 0px 20px grey;  
}

.rental-p{
  flex-grow: 1;
  font-size: 25px;
  margin-left: 10px;
}

.rental-price-main{
  width: 90%;
  margin: 40px auto 25px auto;
  display: flex;
}

.rental-container{
width: 25%;
margin: auto;
text-align: center;
border-right: 2px solid rgba(106, 105, 105, 0.371);
}

.last-container{
  border: none;
}

.location-main{
  height: 500px;
  width: 100%;
  margin-top: 10px;
}

.location-title{
  margin: 0;
  font-size: 60px;
  text-align: center;
}
.location-main p{
  text-align: center;
  padding: 10px 10px;
  font-size: 20px;
}

.footer-main{
  width: 100%;
  height: 300px;
  background-color: rgb(97, 97, 97);
  margin-top: 20px;
  display: flex;
}

.footer-left{
  flex-grow: 1;
  display: flex;
  align-items: center;
  width: 49%;
}

.footer-right{
  flex-grow: 1;
  width: 49%;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.footer-right li{
margin-right: 60px;
margin-top: 10px;
}

.footer-left p{
  color: black;
  position: relative;
  font-size: 20px;
  left: 60px;
}

.footer-left-mobile{
  display: none;
}


@media all and (max-width: 960px){
  .about-p, .rental-p{
    font-size: 20px;
  }

  .header-item-first{
    display: none;
  }

  .main-text h1{
    font-size: 30;
  }

  .main-text p{
    font-size: 15;
  }

  .header li{
    text-align: center;
    font-size: 25px;  
  }

  .header-item{
    width: 33%;
    top: 0;
    left: 0;
  }

  .rental-price-main{
    flex-wrap: wrap;
  }

  .rental-container{
    width: 49%;
  }

  h1{
    margin-top: 40px;
    margin-bottom: 40px;  
  }

  .last-container-tablet{
    border: none;
  }

  .first-two-rentals{
    margin-bottom: 60px;
  }

}
 
@media all and (max-width: 800px){
  .about{
    flex-direction: column;
    height: auto;
  }

  .main-bkgd{
    width: 150%;
    margin-left: -50%;
  }

  .main-text h1{
    font-size: 20;
  }

  .main-text p{
    font-size: 10;
  }

  .about-img{
    width: 100%;  
  }

  .rentals{
    height: auto;
    flex-direction: column;
  }

  .rental-img{
    width: 100%;
  }

  .rental-price-main{
    flex-direction: column;
    height: auto;
  }

  .rental-container{
    border-right: none;
    border-bottom: 2px solid rgba(106, 105, 105, 0.371);
    width: 90%;
  }

  header a{
    font-size: 12px;
  }

  .header{
    height: 40px;
  }

  .first-two-rentals{
    margin-bottom: 0px;
  }

  .footer-right{
    display: none;
  }

  .footer-left{
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  .footer-left p{
    left: 0;
    margin-top: 20px;
    font-size: 15px;
  }

  .footer-left-mobile{
    display: inline;
  }
}







