@font-face {
  font-family: 'pacifico';
  src: url('../fonts/Pacifico.ttf');
}

@font-face {
  font-family: 'karla';
  src: url('../fonts/Karla-regular.ttf');
}

body{
  margin: 0;
  background-color: rgb(182, 167, 167);
}

p{
  font-family: 'karla';
  color: rgb(100, 100, 100);
}

h1{
  font-family: 'pacifico';
  margin-top: 60px;
  margin-bottom: 60px;
}

.text{
  line-height: 34px;
}

.main-all{
  max-width: 1600px;
  width: 100%;
  margin: auto auto;
  background-color: white;
}




.header{
  width: 99.95%;
  max-width: 1600px;
  height: 75px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 3;
}

.main{
  width: 100%;
  height: auto;
  border: 1px solid black;
  position: relative;
  z-index: 1;
}  

.main-bkgd{
  width: 100%;
  height: auto;
}

.about{
  width: 90%;
  display: flex;
  align-items: center;
  margin: auto auto;
}

.about-title{
  text-align: center;
  font-size: 60px;
}

.about-img{
 width: 50%; 
 height: auto;
 flex-grow: 1;
 box-shadow: 0px 0px 20px grey;
}

.about-p{
  flex-grow: 1;
  font-size: 25px;
  margin-left: 10px;
}

.rentals{
  width: 90%;
  display: flex;
  align-items: center;
  margin: auto auto;
}

.rental-title{
  text-align: center;
  font-size: 60px;
}

.rental-img{
  width: 50%;
  height: auto;
  flex-grow: 1;
  box-shadow: 0px 0px 20px grey;  
}

.rental-p{
  flex-grow: 1;
  font-size: 25px;
  margin-left: 10px;
}

.rental-price-main{
  width: 90%;
  margin: 40px auto auto auto;
  display: flex;
}

.rental-container{
width: 25%;
margin: auto;
text-align: center;
border-right: 2px solid rgba(106, 105, 105, 0.371);
}

.last-container{
  border: none;
}

@media all and (max-width: 960px){
  .about-p, .rental-p{
    font-size: 20px;
  }

  .rental-price-main{
    flex-wrap: wrap;
  }

  .rental-container{
    width: 49%;
  }
  h1{
    margin-top: 40px;
    margin-bottom: 40px;  
  }
  .last-container-tablet{
    border: none;
  }

  .first-two-rentals{
    margin-bottom: 60px;
  }

}

@media all and (max-width: 800px){
  .about{
    flex-direction: column;
    height: auto;
  }
  .main-bkgd{
    width: 175;
    margin-left: -75%;
  }
  .about-img{
    width: 100%;  
  }

  .rentals{
    height: auto;
    flex-direction: column;
  }

  .rental-img{
    width: 100%;
  }

  .rental-price-main{
    flex-direction: column;
    height: auto;
  }

  .rental-container{
    border-right: none;
    border-bottom: 2px solid rgba(106, 105, 105, 0.371);
    width: 90%;
  }

  .header{
    height: 40px;
  }

}

.footer-main{

}









